@page "/"
@using AutoBogus
@rendermode InteractiveServer

@inject ICsireCommunicationQuery mCsireCommunicationQuery

<div>
    <FluentButton Appearance="Appearance.Accent" OnClick="Refresh">
        Refresh
    </FluentButton>

    <FluentButton Appearance="Appearance.Accent" OnClick="Generate">
        Generate 10 records
    </FluentButton>

</div>

<ErrorBoundary>
    <ChildContent>
        <FluentDataGrid TGridItem="CsireRequest" Items="@mCsireRequests" ShowHover="true" ResizableColumns="true" @ref="mFluentDataGrid" AutoFit="true">

            <SelectColumn TGridItem="CsireRequest"
                          SelectMode="DataGridSelectMode.Single"
                          SelectFromEntireRow="true"
                          Property="@(e => e.Id == mSelectedCsireRequest?.Id)"
                          OnSelect="@(e => Select(e.Item, e.Selected))" />

            <PropertyColumn Property="@(p => p.Id)" Width="0.5fr" Sortable="true" />
            <PropertyColumn Property="@(p => p.ProcessNumber)" Width="0.5fr" Sortable="true" />
            <PropertyColumn Property="@(p => p.Description)" Tooltip="true" Width="2fr" Sortable="true" />
            <PropertyColumn Property="@(p => p.CreatedOnUtc)" Sortable="true" />
            <PropertyColumn Property="@(p => p.CreatedBy)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Status)" Sortable="true" />

            <PropertyColumn Property="@(p => p.MessageId)" Tooltip="true" Sortable="true" />
            <PropertyColumn Property="@(p => p.Message)" Tooltip="true" Sortable="true" />
            <PropertyColumn Property="@(p => p.SentOnUtc)" Sortable="true" />

            <PropertyColumn Property="@(p => p.ResultCode)" Sortable="true" />
            <PropertyColumn Property="@(p => p.ResultDescription)" Sortable="true" />
            <PropertyColumn Property="@(p => p.AnsweredOnUtc)" Sortable="true" />

        </FluentDataGrid>
    </ChildContent>
    <ErrorContent Context="Exception">
        <p class="errorUI">
            @Exception.Message
        </p>
    </ErrorContent>
</ErrorBoundary>


@code {
    FluentDataGrid<CsireRequest>? mFluentDataGrid;
    IQueryable<CsireRequest> mCsireRequests = new List<CsireRequest>().AsQueryable();
    CsireRequest? mSelectedCsireRequest;


    protected override void OnInitialized()
    {
        //List<CsireRequest> requests = AutoFaker.Generate<CsireRequest>(10);
        //mCsireRequests = requests.AsQueryable();

        mCsireRequests = mCsireCommunicationQuery.GetRequests();
    }


    void Select(CsireRequest aCsireRequest, bool aSelected)
    {
        //Console.WriteLine($"Select  {aCsireRequest.Id}, Selected: {aSelected}");

        if (aSelected)
            mSelectedCsireRequest = aCsireRequest;
        else
            mSelectedCsireRequest = null;
    }


    async Task Refresh()
    {
        if (mFluentDataGrid == null)
            return;

        await mFluentDataGrid.RefreshDataAsync();
    }


    async Task Generate()
    {
        List<CsireRequest> requests = AutoFaker.Generate<CsireRequest>(10);
        foreach (var request in requests)
            request.Id = 0;

        await mCsireCommunicationQuery.Insert(requests);
        await Refresh();
    }
}
